@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; align-items:center; justify-content:center; flex-direction:column;">
    <h1 class="display-4">Welcome</h1>
    <h4>This is My First Project in the P99SOFT</h4>
</div>
